@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: black;
    margin: 0;
    padding: 0;
  }